body {
	background-color: rgb(255,255,255);
	text-align: center;
}
#name{ 
	color: Red;
}
div.mainBlcks { 
	color: Red
	font-family: Arial, Verdana, sans-serif;
	font-size: 200%;
	border: 3px solid;
	padding: 5px;
	text-align: center;
	margin: 4px;
	position:absolute;
	top: 130px;
	left: 200px;
	
	
}
.mainBlcksInt {
	color: Red;
	background-color: Orange;
	font-family: Arial, Verdana, sans-serif;
	font-size: 180%;
	border: 3px solid;
	padding: 5px;
	text-align: left;
	margin: 4px;
	position:absolute;
	top: 230px;
	left: 200px;
	width: 850px;
}
.mainBlcksGo {
	color: red;
	background-color: Orange;
	font-family: Arial, Verdana, sans-serif;
	font-size: 200%;
	border: 3px solid;
	padding: 5px;
	text-align: left;
	margin: 4px;
	position:absolute;
	top: 560px;
	left: 200px;
	width: 850px;
}
.abtMe {
	color: red;
	font-family: Arial, Verdana, sans-serif;
	font-size: 150%;
	border: 3px solid;
	padding: 5px;
	text-align: center;
	margin: 4px;
	position:absolute;
	top: 50px;
	left: 200px;
	width: 850px;
}
.interests {
	text-align: left;
}
.siteNav {
	position: absolute;
	top: 130px;
	left:10px;
	width: 175px;
	border: 2px solid;
	border-color: white;
	font-size: 125%;
	text-align: center;
	display: block; 
	
}
.contacts {
	position: absolute;
	top: 1100px;
	text-align: center;
	font-size: 160%;
}
ul {
	list-style-type: none;
	
}
ol {
	text-align: right;
	list-style-type: lower-roman;
	width: 500px;
	font-size: 90%;
	margin: 10px 0px 5px 300px;
}
:link{
	color: red;
}
:visited{
	color: red;
}
address{
	color:White;
}
.test{
	color: red;
	font-family: Arial, Verdana, sans-serif;
	font-size: 150%;
	border: 3px solid;
	padding: 5px;
	text-align: center;
	margin: 10px;
	left: 200px;
	width: 850px;
	position: relative;
}
li.currentProjects {
	display: inline-block;
	margin: 5px;
}